{%extends "base.html%}
{%block content%}

<section style="text-align: center; margin-bottom: 3rem;">
    <h1>Educational Resources</h1>
    <p>
        Download cirriculum-aligned learnining materials, animal facts sheets, and classrooms activities for your visits at Riget Zoo Adventures.
    </p>
</section>

<section class="grid grid 2">
<div class="card"
    <img src="/static/images/img1.png" alt="Animal Fact Sheets" class="fixed-size">
    <div class="card-body">
        <h2>Animal Fact Sheets</h2>
        <p>
            Discover fascinating facts about our animals, including habitats, diets and consercation status
        </p>
        <a href="/static/resources/animal_facts.docx" class="btn download">Download Fact Sheets</a>
    </div>
</div>

<div class="card"
    <img src="/static/images/img2.png" alt="Lesson Plans" class="fixed-size">
    <div class="card-body">
        <h2>Lesson Plans</h2>
        <p>
            Ready-to-use lesson plans designed for classrooms learning before and after your zoo visit
        </p>
        <a href="/static/resources/lession_plans.docx" class="btn download">Download Lesson Plans</a>
    </div>
</div>

<div class="card"
    <img src="/static/images/img3.png" alt="Student WorkSheets" class="fixed-size">
    <div class="card-body">
        <h2>Student WorkSheets</h2>
        <p>
            Fun and engaging worksheets to help students learn through observation and exploration
        </p>
        <a href="/static/resources/worksheets.docx" class="btn download">Download Worksheets</a>
    </div>
</div>

<div class="card"
    <img src="/static/images/img4.png" alt="Teachers Guide" class="fixed-size">
    <div class="card-body">
        <h2>Teacher Guides</h2>
        <p>
            Guidance
        </p>
        <a href="/static/resources/teacher_guide.docx" class="btn download">Download Teacher Guide</a>
    </div>
</div>

</section>

<section style="margin-top: 4rem; text-align: center;">
    <h2>Planning a School Visit?</h2>
    <p>Combine these resources with an educational zoo visit led by our experienced guides</p>
    <a href="educational_visit.html" class="btn btn-accent">Book an Educational Visit</a>
</section>

{%endblock%}